Leave request decision is made
=====
<p>Hello <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,
<p>

  {{> email/leave_comments comments=comments }}

<p>You just processed {{#if was_pended_revoke}}cancellation of {{/if}}leave request {{>leave_request_detail leave=leave
  }} for {{#with requester}}{{this.full_name}}{{/with}}: to {{action}}.</p>

<!-- Conditionally add the approver's comment here -->
{{#if (or (eq action 'reject') (eq action 'approve'))}}
<p>{{#if (eq action 'reject')}}Rejection{{else}}Approval{{/if}} comment:
  <strong>
    {{#if leave.approver_comment}}
    {{leave.approver_comment}}
    {{else}}
    No comment.
    {{/if}}
  </strong>
</p>
{{/if}}

<p>Thanks</p>